.item{
  position: relative;
  width: 100%;
  height: 180px;
  background: white;
  margin: 15px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: -5px -5px 15px #ffffff99, 5px 5px 15px #152b4711;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.item-link{
  margin-top: 5px;
  background: #ff004c33;
  color: #ff004c;
  font-weight: 700;
  border-radius: 6px;
  font-size: 1.0em;
  padding: 6px;
  bottom: 8px;
  left: 8px;
  transition: opacity 0.3s;
  cursor: pointer;
  text-decoration: none;
  margin-right: 5px;
}

.item:hover{
  box-shadow: -5px -5px 15px #ffffff99, 5px 5px 15px #152b4711, 0 0 0 5px #0077ff49;
}
.item-name{
  font-size: 2.4em;
  cursor: pointer;
}

.item-friends {
  font-size: 1.5em;
}

.item-shortened-url {
  font-size: 1.5em;
  margin-top: 0;
  padding: 10px 0 10px 0;
}